main{
    width: 1600px;
    margin: 20px auto;
}

.products{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-evenly;
}

.product_item{
    display: flex;
    flex-direction: column;
}

.product_img{
    width: 250px;
}